# ArtGalleryApp specific ignores
/ArtGalleryApp/bin/
/ArtGalleryApp/obj/
/ArtGalleryApp/Publish/
/ArtGalleryApp/*.user
/ArtGalleryApp/*.suo
/ArtGalleryApp/*.sln.docstates

# DataSource specific ignores
/DataSource/bin/
/DataSource/obj/
/DataSource/Publish/
/DataSource/*.user
/DataSource/*.suo
/DataSource/*.sln.docstates

# Ignore NuGet packages
/packages/

# Ignore build output, DLLs, and EXE files
*.dll
*.exe

# Ignore logs and other output files
*.log
*.csv

# Ignore Rider-specific files
.idea/

# Ignore macOS specific files
.DS_Store

# Ignore appsettings.json and appsettings.Development.json (for sensitive information)
appsettings.json
appsettings.Development.json